/* Navbar Design */

.navbar-layout {
	border-bottom: 5px solid #00FFCD;
}

/* Jumbotron */ 

.container-format {
	margin: 0;
	padding: 0;
}

.jumbo-format {
	margin-top: 60px;
	padding: 200px;
	background: url('images/plexus2.png') no-repeat;
}

h1.jumbo-h1 {
	color: #fff;
	
}

/* Portfolio */

.portfolio-design {
	color: #00FFCD;
}

/* Typewriter Effect */ 

.typewrite {
	color: #00FFCD;
}

.body-format {
	padding: 
}

/* Portfolio */ 
.gallery {
	padding: 0 0 150px 0;
}

/* Footer Design */

#footer {
	font-size: 10px;
	text-align: center;
	color: #dddddd;
	background: #333333;
	border-top: 5px solid #00FFCD;
	position: fixed;
	left: -90px;
	bottom: 0;
	width: 110%;
	bottom: 0;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 12px 0;
}